.wrapper {
  padding: 50px 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.contentBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #444b58;
}

.input {
  width: max-content;
  padding: 20px;
  border-radius: 4px;
  background-color: #f6f6f6;
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.input::placeholder {
  color: #b2b5bb;
}

.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 40px;
}

.button {
  width: 177px;
  height: 62px;
  padding: 20px 50px;
  border-radius: 4px;
  background-color: #f14f4f;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}
