.wrapper {
  padding: 50px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.contentBox {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #444b58;
}

.input {
  width: max-content;
  padding: 20px;
  border-radius: 4px;
  background-color: #f6f6f6;
  border: none;
  outline: none;
  width: 1180px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.input::placeholder {
  color: #b2b5bb;
}

.productList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 23px;
}

.button {
  padding: 20px 50px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.noData {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #b2b5bb;
}
