.wrapper {
  margin: 48px 130px 150px;
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #444b58;
}

.contentBox {
  display: flex;
  gap: 50px;
  width: fit-content;
}

.products {
  display: flex;
  flex-direction: column;
  padding: 13px 62px 18px 35px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}

.commonPrice {
  width: 356px;
  padding-top: 10px;
}

.priceBox {
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e5e5;
}

.priceInfo {
  display: flex;
  justify-content: space-between;
}

.total,
.amount,
.priceBefore,
.priceInfoBefore {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #b2b5bb;
}

.amount {
  color: #444b58;
}

.priceBefore {
  font-weight: 600;
}

.priceInfoBefore {
  font-weight: 700;
  color: #444b58;
}

.priceAfter,
.priceInfoAfter,
.noMessage {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #b2b5bb;
}

.priceInfoAfter {
  font-weight: 700;
  color: #444b58;
}
