.logo {
  cursor: pointer;
  padding-bottom: 5px;
}

.navigationWrapper {
  background-color: #484283;
  padding: 32px 138px 0px 130px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 23px;
}

.menu {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: 680px;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  gap: 4px;
  position: relative;
}

.counter {
  position: absolute;
  top: 60%;
  left: 80%;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #f14f4f;
  text-align: center;
  font-weight: 400;
  font-size: 8px;
  line-height: 8px;
  display: block;
  align-content: center;
}
